<header>
  <h1><%= data.source %> Art-Net</h1>
</header>


<div id="universes">
<% data.orderedUniverses.forEach(universeIndex => { 
  let universe = data.universes[universeIndex];
%>

  <table id="universe-<%= universeIndex %>">
  <tr>
    <td class="data" colspan="2">
      Universe
      <br><em><%= universeIndex %></em>
    </td>
    <td class="data" colspan="2">
      Sub-Net
      <br><em><%= universe.subnet %></em>
    </td>
    <td class="data" colspan="2">
      Sequence
      <br><em id="universe-<%= universeIndex %>-sequence"><%= universe.sequence %></em>
    </td>
    <td class="data" colspan="2">
      OpCode
      <br><em><%= universe.opCode %></em>
    </td>
    <td class="data" colspan="2">
      Version
      <br><em><%= universe.version %></em>
    </td>
    <td class="data" colspan="4">
      IP
      <br><em><%= data.ip %></em>
    </td>
    <td class="data" colspan="3"></td>
  </tr>

  <tr>
    <th></th>
    <% for(col=1; col<=16; col++){ %>
      <th><%= col %></th>
    <% } %>
  </tr>

  <% let slot = 0; %>
  <% for(row=0; row<32; row++){ %>
    <tr>
      <th><%= row*16+1 %></th>
    <% for(col=0; col<16; col++){ %>
      <% slot++%>
      <td id="<%= universeIndex %>-<%= row*16+col %>" title="<%= universeIndex %>/<%= slot %>"><%= universe.slots[slot-1] %></td>
    <% } %>
    </tr>
  <% } %>
</table>
<% }); %>
</div>