<% let cueKeys = allCues[cueList.uniqueID]; %>

<div id="<%= cueKeys.uniqueID %>">

<h3><%= workspace.displayName %> &mdash; <%= cueList.listName %></h3>
<%
  let width = 100/cueKeys.cartColumns;
  let height = 600/(cueKeys.cartRows);
%>

<div class="cart">

<% for(let r=0; r<cueKeys.cartRows; r++){ %>
  <% for(let c=0; c<cueKeys.cartColumns; c++){ %>
    <% let style = `style="left:${width*c}%; top:${height*r}px; width:${width }%; height:${height}px;"`; %>

    <div class="cartCueWrapper" <%= style %>><div class="cartCue cartBlank"></div></div>
    
  <% } %>
<% } %>


<% for(let i=0; i<cueList.cues.length; i++){
  let cue = allCues[cueList.cues[i].uniqueID];

  if(!cue.cartPosition){
    cue.cartPosition = [0, 0];
  }


  let row = cue.cartPosition[0]-1;
  let col = cue.cartPosition[1]-1;

  let colPos = width*col;
  let rowPos = height*row;

  if(col>=cueKeys.cartColumns || row>=cueKeys.cartRows){
    continue;
  }

%>

<%= tileTemplate({cue: cueList.cues[i], allCues: allCues, workspace: workspace}) %>

<% } %>

</div>

</div>