<header>
  <h1><%= listName %></h1>
  <h2>QLab <%= data.version || "" %></h2>
</header>



<% const workspaceKeys = Object.keys(data.workspaces); %>
  
<% for(let i=0; i<workspaceKeys.length; i++){ %>
  <% const workspace = data.workspaces[workspaceKeys[i]]; %>

  <% if(workspace.permission=="ok"){ %>

    <% for(let j=0; j<workspace.cueLists.length; j++){ %>
      <% const cueList = workspace.cueLists[j]; %>

      <% if(cueList.type=="Cue List"){ %>
        <%= templates.cuelist({cueList: cueList, allCues: data.cueKeys, rowTemplate: templates.cue, workspace: workspace}) %>
      <% }else if(cueList.type=="Cart"){ %>
        <%= templates.cart({cueList: cueList, allCues: data.cueKeys, tileTemplate: templates.tile, workspace: workspace}) %>
      <% } %>

    <% } %>
  
  <% }else{ %>

    <h3><%= workspace.displayName %> &mdash; <u>Incorrect Passcode or OSC Access Permissions</u></h3>
    <button href="https://qlab.app/docs/v5/fundamentals/workspace-settings#the-osc-access-tab">QLab Documentation: OSC Access Tab</button>
    <h1>&nbsp;</h1>
  <% } %>

<% } %>

<div id="playhead-information">
  <div id="playhead-name" class="playhead-name"><span style="color:#747574">[no cue on standby]</span></div>
  <div id="playhead-notes"></div>
</div>

